In [1]:
# dictionary
# -mutable data
# -duplicate data
# -indexing
# -mutable datatype

In [2]:
# d={<key>:<value>,<key>:<value>

In [3]:
d={'a':'Apple','b':'Ball','c':'Cat'}
print(d['a'])
print(d['c'])

Apple
Cat

In [4]:
# duplicate data but not key
d={'a':'Apple','b':'Ball','c':'Cat','a':'Ant'}
print(d['a'])
print(d['c'])

Ant
Cat

In [7]:
d={'a':'Apple','b':'Ball','c':'Cat','d':'Apple'}
print(d['a'])
print(d['c'])
print(d['d'])
len(d)

Apple
Cat
Apple

4

In [8]:
# d=dict()

d={}
d['Ram']=9841456489
d['Shyam']=9841234589
d['Hari']=9841456654
d

{'Ram': 9841456489, 'Shyam': 9841234589, 'Hari': 9841456654}

In [9]:
d={}
n= int(input('Enter the value of n : '))

for i in range(n):
    name=input('Enter name = ')
    phone= input('Enter Phone = ')
    
    d[name]=phone
print(d)

Enter the value of n : 2
Enter name = Rma
Enter Phone = 9841456654
Enter name = Shyam
Enter Phone = 9841123321
{'Rma': '9841456654', 'Shyam': '9841123321'}

In [15]:
# For only key

a={'Ram': 9841456489, 'Shyam': 9841234589}

for i in a:
    print(i)
    
# for only Value

a={'Ram': 9841456489, 'Shyam': 9841234589}

for i in a.values():
    print(i)

# for both

a={'Ram': 9841456489, 'Shyam': 9841234589}

for i in a.items():
    print(i)

Ram
Shyam
9841456489
9841234589
('Ram', 9841456489)
('Shyam', 9841234589)

In [23]:
a=['Ram','Shyam','Hari']
for i in a:
    print(i)

Ram
Shyam
Hari

In [24]:
# delete

a={'Ram': 9841456489, 'Shyam': 9841234589}

del a['Ram']
print(a)

{'Shyam': 9841234589}

In [26]:
a={'Ram': 9841456489, 'Shyam': 9841234589}

b= a.pop('Ram')
print(a)
print(b)

{'Shyam': 9841234589}
9841456489

In [27]:
# list inside dict

a={'Ram': [ 9841654654, 9841321321],'Shyam':[9841987987,9841789789]}
print(a)

{'Ram': [9841654654, 9841321321], 'Shyam': [9841987987, 9841789789]}

In [28]:
a={'name':['Ram','Shyam','Hari'],
   'ntc':[9865321321,9845632132,9865431287],
   'ncell':[9841654897,9841789654,9841654321]}

a

{'name': ['Ram', 'Shyam', 'Hari'],
 'ntc': [9865321321, 9845632132, 9865431287],
 'ncell': [9841654897, 9841789654, 9841654321]}

In [30]:
# list inside dictionary

d={}
n= int(input('Enter the value of n : '))

for i in range(n):
    name=input('Enter name = ')
    ntc= input('Enter NTC Phone = ')
    ncell=input('Enter Ncell Phone = ')
        
    d[name]=[ntc,ncell]
print(d)

Enter the value of n : 2
Enter name = Ram
Enter NTC Phone =
Enter Ncell Phone = 9808654321
Enter name = Shyam
Enter NTC Phone = 9841987654
Enter Ncell Phone = 9805987654
{'Ram': ['', '9808654321'], 'Shyam': ['9841987654', '9805987654']}

In [35]:
d['Shyam']
print('ntc number of Shyam',d['Shyam'][0])

ntc number of Shyam 9841987654

In [36]:
# a={'name':['Ram','Shyam','Hari'],
#    'ntc':[9865321321,9845632132,9865431287],
#    'ncell':[9841654897,9841789654,9841654321]}

In [38]:
d={'name':[],'ntc':[],'ncell':[]}
n= int(input('Enter the value of n : '))

for i in range(n):
    name=input('Enter name = ')
    ntc= input('Enter NTC Phone = ')
    ncell=input('Enter Ncell Phone = ')
        
    d['name'].append(name)
    d['ntc'].append(ntc)
    d['ncell'].append(ncell)
    
print(d)

Enter the value of n : 2
Enter name = Ram
Enter NTC Phone = 9841789654
Enter Ncell Phone = 9808789654
Enter name = Shyam
Enter NTC Phone = 9841456654
Enter Ncell Phone = 9808456654
{'name': ['Ram', 'Shyam'], 'ntc': ['9841789654', '9841456654'], 'ncell': ['9808789654', '9808456654']}

In [40]:
d={'name': ['Ram', 'Shyam'], 'ntc': ['9841789654', '9841456654'], 'ncell': ['9808789654', '9808456654']}
print(d['name'][0])
print(d['ntc'][0])
print(d['ncell'][0])

Ram
9841789654
9808789654

In [41]:
del d['name'][0]
del d['ntc'][0]
del d['ncell'][0]

In [42]:
print(d)

{'name': ['Shyam'], 'ntc': ['9841456654'], 'ncell': ['9808456654']}