In [1]:
# dict inside list

l=[{'name':'Ram','age':34,'address':'Kathmandu'},{'name':'Shyam','age':44,'address':'Bhaktapur'},
   {'name':'Hari','age':56,'address':'Lalitpur'}]
print(l)

[{'name': 'Ram', 'age': 34, 'address': 'Kathmandu'}, {'name': 'Shyam', 'age': 44, 'address': 'Bhaktapur'}, {'name': 'Hari', 'age': 56, 'address': 'Lalitpur'}]

In [2]:
print(l[2])

{'name': 'Hari', 'age': 56, 'address': 'Lalitpur'}

In [13]:
print(l[0]['name'])

Ram

In [16]:
for i in l:
    print(list(i.values()))

['Ram', 34, 'Kathmandu']
['Shyam', 44, 'Bhaktapur']
['Hari', 56, 'Lalitpur']

In [17]:

l=[{'name':'Ram','age':34,'address':'Kathmandu'},
   {'name':'Shyam','age':44,'address':'Bhaktapur'},
   {'name':'Hari','age':56,'address':'Lalitpur'}]


print(l)

[{'name': 'Ram', 'age': 34, 'address': 'Kathmandu'}, {'name': 'Shyam', 'age': 44, 'address': 'Bhaktapur'}, {'name': 'Hari', 'age': 56, 'address': 'Lalitpur'}]

In [46]:
l=[]
n=int(input('Enter the value of n :'))

for i in range(n):
    name=input('Enter Name: ')
    age= int(input('Enter Age: '))
    address= input('Enter Address: ')
    info={'name':name,'age':age,'add':address}
    l.append(info)
    
print(l)

Enter the value of n :2
Enter Name: Ram
Enter Age: 40
Enter Address: Kathmandu
Enter Name: Shyam
Enter Age: 40
Enter Address: Lalitpur

AttributeError: 'list' object has no attribute 'values'

In [44]:
l=[{'name':'Ram','age':34,'address':'Kathmandu'},
   {'name':'Shyam','age':44,'address':'Bhaktapur'},
   {'name':'Hari','age':56,'address':'Lalitpur'}]
dict(l)

ValueError: dictionary update sequence element #0 has length 3; 2 is required