In [2]:
n=int(input('Enter n = '))
for i in range(n):
    x=input('Enter name = ')
    print(x)

Enter n = 3
Enter name = Mrigesh
Mrigesh
Enter name = shrestha
shrestha
Enter name = ebl
ebl

In [6]:
s=0
n=int(input('Enter n= '))
for i in range(n):
    x=int(input('enter x ='))
    s=s+x
print(s)

Enter n= 5
enter x =1
enter x =2
enter x =3
enter x =4
enter x =5
15

In [8]:
s=0
n=int(input('Enter n= '))
for i in range(n):
    x=int(input('enter x ='))
    s=s+x
    print(s)      #Position of print is different from the above

Enter n= 5
enter x =1
1
enter x =2
3
enter x =3
6
enter x =4
10
enter x =5
15

In [12]:
s=str()
n=int(input('Enter n= '))
for i in range(n):
    x=input('enter x =')
    s=s+x+'\n'
    
print(s)

Enter n= 2
enter x =Ram
enter x =Shyam
Ram
Shyam

In [14]:
s=str()
n=int(input('Enter n= '))
for i in range(n):
    name=input('enter name = ')
    phone=input('Enter Phone = ')
    s=s+name+'\t'+phone+'\n'
    
print(s)

Enter n= 2
enter name = ram
Enter Phone = 12456
enter name = shyam
Enter Phone = 987654
ram	12456
shyam	987654

In [1]:
bill=str()
all_total=0
n=int(input('Enter n= '))
for i in range(n):
    name=input('enter name of product = ')
    price=float(input('Enter Price of the product = '))
    qty=float(input('enter quantity = '))
    total=price*qty
    bill= bill+name+'\t'+str(price)+'\t'+str(qty)+'\t'+str(total)+'\n'
    all_total=all_total+total
print('Product'+'\t'+'Price'+'\t'+'qty'+'\t'+'Total')    
print(bill)
print('All total price= ',all_total)

Enter n= 2
enter name of product = apple
Enter Price of the product = 50
enter quantity = 2
enter name of product = orange
Enter Price of the product = 60
enter quantity = 3
Product	Price	qty	Total
apple	50.0	2.0	100.0
orange	60.0	3.0	180.0

180.0
All total price=  280.0

In [8]:
#5! = 1*2*3*4*5
fac=1
for i in range(1,6):
    fac=fac*i
    
    print(fac)

1
2
6
24
120

In [17]:
#for loop in string
a='Phyton'
for i in a:
    print(i)

P
h
y
t
o
n

In [18]:
a='hello world i am Phyton'
for i in a:
    print(i, end=".")

h.e.l.l.o. .w.o.r.l.d. .i. .a.m. .P.h.y.t.o.n.

In [27]:
a='hello world. i am Phyton.'
for i in a:
    if i!='.':
        print(i,end="")

hello world i am Phyton

In [ ]:
#control statements