In [1]:
# list inside list
l=[[1,2,3],
  [4,5,6],
  [7,8,9]]
print(l)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [2]:
l=[['ram',23,'Kathmandu'],
  ['shyam',25,'Bhaktapur'],
  ['hari',56,'Lalitpur']]
print(l)

[['ram', 23, 'Kathmandu'], ['shyam', 25, 'Bhaktapur'], ['hari', 56, 'Lalitpur']]

In [3]:
l[0]

['ram', 23, 'Kathmandu']

In [6]:
print(l[0][0])

ram

In [7]:
print(l[1][0])

shyam

In [8]:
del l[0]
print(l)

[['shyam', 25, 'Bhaktapur'], ['hari', 56, 'Lalitpur']]

In [12]:
a=[['ram',23,'Kathmandu'],
  ['shyam',25,'Bhaktapur'],
  ['hari',56,'Lalitpur']]
b=a.pop(0)
print(a)
print(b)

[['shyam', 25, 'Bhaktapur'], ['hari', 56, 'Lalitpur']]
['ram', 23, 'Kathmandu']

In [14]:
l=[]
n=int(input('Enter the value of n:'))
for i in range(n):
    name= input('enter name= ')
    age= int(input('Enter age'))
    add= input('Enter address:')
    data=[name,age,add]
    l.append(data)

print(l)

Enter the value of n:2
enter name= Ram
Enter age23
Enter address:Kathmandu
enter name= Shyam
Enter age25
Enter address:Lalitpur
[['Ram', 23, 'Kathmandu'], ['Shyam', 25, 'Lalitpur']]

In [21]:
info=[['ram',23,'Kathmandu'],
  ['shyam',25,'Bhaktapur'],
  ['hari',56,'Lalitpur']]
name= input('Enter Name: ')

for i in info:
    if i[0]==name:
        print(i)

Enter Name: am

In [22]:
info=[['Ram','Shyam','Hari'],
     [23,45,67],
     ['Kathmandu','Bhaktapur','Lalitpur']]
print(info)

[['Ram', 'Shyam', 'Hari'], [23, 45, 67], ['Kathmandu', 'Bhaktapur', 'Lalitpur']]

In [23]:
# WAP to create list inside list like above
# WAP to create a matrix

In [24]:
# Tuple
# -Mulitple data
# -Duplicate data
# -Indexing
# -Imutable datatype

In [27]:
a=(1,2,3,4,5,6,7,8,9)
b=['Apple',"Ball","Cat"]
print(type(a),type(b))

<class 'tuple'> <class 'list'>